@import "../../scssframework/index";

.xpmedia-brands-product-detail-card-slider {
  //padding-top:map-get($spacers, 'xxxl');
  //padding-left: 5%;
  //margin-right: 0;
  //padding-bottom: map-get($spacers, 'xxxl');
  //margin-bottom: map-get($spacers, 'lg');

  @media screen and (max-width: map-get($grid-breakpoints-max, 'md')) {
    padding-top: map-get($spacers, 'xs');
    padding-right: map-get($spacers, 'xs');
    padding-left: map-get($spacers, 'xs');
    padding-bottom: map-get($spacers, 'md');
  }

  h1.slider-header{
    font-size: $font-size-xl;
    color: $eerie-black;
  }

  .slick-prev:before, .slick-next:before {
    color: black;
  }

  .slick-next {
    right: 15px;
    z-index: 9;
  }

  .slick-prev {
    left: 15px;
    z-index: 9;
  }

}
