/* header */
.xpmedia-brands-header {
  display: block;
  width: 100%;
  z-index: 99;
  padding-right: 24px;
  padding-left: 24px;
  background-color: #ffffff;
  box-shadow: 0 4px 4px #0000000f;
  //height: 78px;
  position: sticky;
  top: 0;
}

.xpmedia-brands-header .container {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 78px
}

.xpmedia-brands-header .header-row {
  display: flex;
  flex-wrap: wrap;
}

.xpmedia-brands-header .v-center {
  align-items: center;
}

.xpmedia-brands-header .item-left {
  flex: 0 0 16%;
}

.xpmedia-brands-header .logo a {
  font-size: 30px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
}

.xpmedia-brands-header .item-center {
  flex: 0 0 66%;
  text-align: center;
}

.xpmedia-brands-header .item-right {
  flex: 0 0 18%;
  display: flex;
  justify-content: flex-end;
}

.xpmedia-brands-header .item-right a {
  text-decoration: none;
  font-size: 16px;
  color: #555555;
  display: inline-block;
  margin-left: 10px;
  transition: color 0.6s ease;
}

.xpmedia-brands-header .menu > ul > li {
  display: inline-block;
  line-height: 50px;
  margin-left: 25px;
}

.xpmedia-brands-header .menu > ul > li > a {
  position: relative;
  text-transform: capitalize;
  transition: color 0.3s ease;
  color: #000000;
  letter-spacing: 0;
  font-family: "Work Sans", Helvetica, serif;
  line-height: 24px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}

.xpmedia-brands-header .menu > ul > li > a > svg {
  display: none;
}

//.xpmedia-brands-header .menu > ul > li .sub-menu {
//  position: absolute;
//  z-index: 500;
//  background-color: #ffffff;
//  // box-shadow: -2px 2px 70px -25px rgba(0, 0, 0, 0.3);
//  padding: 20px 30px;
//  // transition: all 0.5s ease;
//  // margin-top: 75px;
//  opacity: 0;
//  visibility: hidden;
//  //transition: transform .1s ease,opacity 0ms linear .1s,visibility 0ms linear .1s;
//  transform-origin: top center;
//  transform: scaleY(0);
//}
//
//@media(min-width: 992px) {
//  .xpmedia-brands-header .menu > ul > li.menu-item-has-children:hover .sub-menu {
//    margin-top: 5px;
//    visibility: visible;
//    opacity: 1;
//    transform: scaleY(1);
//    transition: transform .25s ease,opacity 0ms,visibility 0ms;
//  }
//}

.xpmedia-brands-header ul > li .sub-menu{
  position: absolute;
  z-index: 500;
  background-color:#ffffff;
  padding: 20px 30px;
  margin-top:5px;
  //white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: transform .1s ease,opacity 0ms linear .1s,visibility 0ms linear .1s;
  transition-delay: .3s;
  transform-origin: top center;
  transform: scaleY(0);
}

.page-mask {
  opacity: 0;
  z-index: 1;
  visibility: hidden;
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity .25s,visibility 0s linear .25s;


  background-color: hsla(0,0%,7%,.36);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}


.page-mask.is-open {
  opacity: 1;
  visibility: visible;
  transition: opacity .8s ease,visibility 0s;
}


@media(min-width: 992px){
  .xpmedia-brands-header .menu ul > li.menu-item-has-children:hover .sub-menu{
    transform: scaleY(1);
    opacity: 1;
    visibility: visible;
    transition: transform .25s ease,opacity 0ms,visibility 0ms;

  }

  .xpmedia-brands-header .menu > ul > li.menu-item-has-children:hover .sub-menu .list-item{
    animation-name: FadeIn;
    animation-duration: .6s;
    transition-timing-function: linear;
    transition-delay: .2s;
  }
}

.xpmedia-brands-header ul.menu-secondary > li.menu-item-has-children:hover .sub-menu{
  transform: scaleY(1);
  opacity: 1;
  visibility: visible;
  transition: transform .25s ease,opacity 0ms,visibility 0ms;
}

.xpmedia-brands-header ul.menu-secondary > li.menu-item-has-children:hover .sub-menu .list-item{
  animation-name: FadeIn;
  animation-duration: .6s;
  transition-timing-function: linear;
  transition-delay: .2s;
}

@keyframes FadeIn {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.xpmedia-brands-header .menu > ul > li .sub-menu > ul > li {
  line-height: 1;
}

.xpmedia-brands-header .menu > ul > li .sub-menu > ul > li > a {
  display: inline-block;
  padding: 10px 0;
  font-size: 15px;
  color: #555555;
  transition: color 0.3s ease;
  text-decoration: none;
  text-transform: capitalize;
}

.xpmedia-brands-header .menu > ul > li .single-column-menu {
  min-width: 280px;
  max-width: 350px;
}

.xpmedia-brands-header ul > li .sub-menu.mega-menu > .list-item > ul > li {
  line-height: 1;
  display: block;
}

.xpmedia-brands-header ul > li .sub-menu.mega-menu > .list-item > ul > li > a {
  padding: 10px 0;
  display: inline-block;
  font-size: 15px;
  color: #575757;
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    text-decoration: underline;
  }
}

.xpmedia-brands-header  ul > li .sub-menu.mega-menu {
  left: 0;
  // transform: translateX(-50%);
}

.xpmedia-brands-header ul > li .sub-menu.mega-menu-column-4 {
  // max-width: 1100px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 15px;
}

.xpmedia-brands-header  ul > li .sub-menu.mega-menu-column-4 > .list-item {
  // flex: 0 0 25%;
  // padding: 0 15px;
  //flex: auto;
  flex: 0 1 25%;
  padding: 0 64px;
  text-align: left;
}

.xpmedia-brands-header  ul > li .sub-menu.mega-menu-column-4 > .list-item .title {
  font-size: 16px;
  color: #000000;
  font-weight: 700;
  line-height: 1;
  padding: 10px 0;
}

//.xpmedia-brands-header  ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center .title {
//  text-align: center;
//}

.xpmedia-brands-header  ul > li .sub-menu.mega-menu-column-4 > .list-item img {
  max-width: 100%;
  width: 100%;
  vertical-align: middle;
  margin-top: 10px;
}

//.xpmedia-brands-header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a:hover,
//.xpmedia-brands-header .menu > ul > li .sub-menu > ul > li > a:hover,
//.xpmedia-brands-header .item-right a:hover,
//.xpmedia-brands-header .menu > ul > li:hover > a {
//  color: #ea4636;
//}
.xpmedia-brands-header .item-center .menu-main > li {
  border-bottom: 2px solid transparent;
  transition: border-color .1s,color .1s;
}

.xpmedia-brands-header .item-center .menu-main > li:hover {
  border-bottom: 2px solid #000000;
}


.mobile-menu-head,
.mobile-menu-trigger {
  display: none;
}




/*responsive*/

@media(max-width: 991px) {

  .xpmedia-brands-header .item-center {
    order: 3;
    flex: 0 0 100%;
    text-align: inherit;
  }

  .xpmedia-brands-header .item-left,
  .xpmedia-brands-header .item-right {
    flex: 0 0 auto;
  }

  .v-center {
    justify-content: space-between;
  }

  .xpmedia-brands-header .mobile-menu-trigger {
    display: flex;
    height: 30px;
    width: 30px;
    margin-left: 15px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }

  .xpmedia-brands-header .mobile-menu-trigger span {
    display: block;
    height: 2px;
    background-color: #333333;
    width: 24px;
    position: relative;
  }

  .xpmedia-brands-header .mobile-menu-trigger span:before,
  .xpmedia-brands-header .mobile-menu-trigger span:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333333;
  }

  .xpmedia-brands-header .mobile-menu-trigger span:before {
    top: -6px;
  }

  .xpmedia-brands-header .mobile-menu-trigger span:after {
    top: 6px;
  }

  .xpmedia-brands-header .item-right {
    align-items: center;
  }

  .xpmedia-brands-header .menu {
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    left: 0;
    top: 0;
    height: 100%;
    overflow: hidden;
    transform: translate(-100%);
    transition: all 0.5s ease;
    z-index: 1099;
  }

  .xpmedia-brands-header .menu.active {
    transform: translate(0%);
  }

  .xpmedia-brands-header .item-center .menu-main > li:hover {
    border-bottom: transparent;
  }

  .xpmedia-brands-header .menu > ul > li {
    line-height: 1;
    margin: 0;
    display: block;
  }

  .xpmedia-brands-header .menu > ul > li > a {
    line-height: 50px;
    height: 50px;
    padding: 0 50px 0 15px;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .xpmedia-brands-header .menu > ul > li > a svg {
    display: inline;
    position: absolute;
    top: 16px;
    right: 16px;
    text-align: center;
    line-height: 50px;
    transform: rotate(-90deg);
    font-size: 16px;
  }

  .xpmedia-brands-header .menu .mobile-menu-head {
    display: flex;
    flex-direction: column;
    // height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 501;
    position: sticky;
    background-color: #ffffff;
    top: 0;
  }

  .xpmedia-brands-header .menu .mobile-menu-head .mobile-menu-head-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .xpmedia-brands-header .menu .mobile-menu-head .mobile-menu-head-top .logo {
    margin-left: 10px;
  }
  .xpmedia-brands-header .menu .mobile-menu-head .go-back {
    //height: 50px;
    //width: 50px;
    //border-right: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    color: #000000;
    font-size: 16px;
    display: none;
  }

  .xpmedia-brands-header .menu .mobile-menu-head.active .go-back {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
  }

  .xpmedia-brands-header .menu .mobile-menu-head.active .go-back .go-back-arrow{
    height: 50px;
    width: 50px;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    color: #000000;
    font-size: 25px;
    position: absolute;
    left: 0;
}

  .xpmedia-brands-header .menu .mobile-menu-head .go-back .current-menu-title {
    font-size: 15px;
    font-weight: 500;
    color: #000000;
  }

  .xpmedia-brands-header .menu .mobile-menu-head .mobile-menu-close {
    height: 50px;
    width: 50px;
    // border-left: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    color: #000000;
    font-size: 25px;
  }

  .xpmedia-brands-header .menu .menu-main {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .xpmedia-brands-header .menu > ul > li .sub-menu.mega-menu,
  .xpmedia-brands-header .menu > ul > li .sub-menu {
    visibility: visible;
    opacity: 1;
    position: absolute;
    box-shadow: none;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 110px 15px 15px;
    max-width: none;
    min-width: auto;
    display: none;
    transform: translateX(0%);
    overflow-y: auto;
  }

  .xpmedia-brands-header .menu > ul > li .sub-menu.active {
    display: block;
  }

  @keyframes slideLeft {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }

  @keyframes slideRight {
    0% {
      opacity: 1;
      transform: translateX(0%);
    }
    100% {
      opacity: 0;
      transform: translateX(100%);
    }
  }

  .xpmedia-brands-header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img {
    margin-top: 0;
  }

  .xpmedia-brands-header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center .title {
    margin-bottom: 20px;
  }

  .xpmedia-brands-header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center:last-child .title {
    margin-bottom: 0px;
  }

  .xpmedia-brands-header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item {
    flex: 0 0 100%;
    padding: 0px;
  }

  .xpmedia-brands-header .menu > ul > li .sub-menu > ul > li > a,
  .xpmedia-brands-header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a {
    display: block;
  }

  .xpmedia-brands-header .menu > ul > li .sub-menu.mega-menu > .list-item > ul {
    margin-bottom: 15px;
  }

  .menu-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1098;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
  }

  .menu-overlay.active {
    visibility: visible;
    opacity: 1;
  }

}
