


/* header */
.xpmedia-brands-header {
  display: block;
  width: 100%;
  z-index: 99;
  padding-right: 24px;
  padding-left: 24px;
  background-color: #ffffff;
  box-shadow: 0 4px 4px #0000000f;
  position: sticky;
  top: 0;

  .xpmedia-brands-header-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 78px;

    .v-center {
      align-items: center;

      @media(max-width: 991px) {
        justify-content: space-between;
      }
    }

    .header-row {
      display: flex;
      flex-wrap: wrap;

      .header-item {
        .item-left {
          flex: 0 0 16%;
          @media(max-width: 991px) {
            flex: 0 0 auto;
          }

          .logo a {
            font-size: 30px;
            color: #000000;
            font-weight: 700;
            text-decoration: none;
          }
        }

        .item-center {
          flex: 0 0 66%;
          text-align: center;

          @media(max-width: 991px){
            order: 3;
            flex: 0 0 100%;
            text-align: inherit;
          }
        }

        .item-right {
          flex: 0 0 18%;
          display: flex;
          justify-content: flex-end;

          @media(max-width: 991px) {
            flex: 0 0 auto;
            align-items: center;
          }



          a {
            text-decoration: none;
            font-size: 16px;
            color: #555555;
            display: inline-block;
            margin-left: 10px;
            transition: color 0.6s ease;
          }
        }

      }
    }
  }

  .menu {

    @media(max-width: 991px) {
      position: fixed;
      width: 320px;
      background-color: #ffffff;
      left: 0;
      top: 0;
      height: 100%;
      overflow: hidden;
      transform: translate(-100%);
      transition: all 0.5s ease;
      z-index: 1099;

      &.active {
        transform: translate(0%);
      }
    }

    li {
      display: inline-block;
      line-height: 50px;
      margin-left: 25px;

      @media(max-width: 991px) {
        line-height: 1;
        margin: 0;
        display: block;
      }

      a {
        position: relative;
        text-transform: capitalize;
        transition: color 0.3s ease;
        color: #000000;
        letter-spacing: 0;
        font-family: "Work Sans", Helvetica, serif;
        line-height: 24px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        text-decoration: none;

        @media(max-width: 991px) {
          line-height: 50px;
          height: 50px;
          padding: 0 50px 0 15px;
          display: block;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }

        svg {
          display: none;

          @media(max-width: 991px) {
            display: inline;
            position: absolute;
            top: 16px;
            right: 16px;
            text-align: center;
            line-height: 50px;
            transform: rotate(-90deg);
            font-size: 16px;
          }
        }


      }

      .menu-main {

        @media(max-width: 991px){
          height: 100%;
          overflow-x: hidden;
          overflow-y: auto;
        }

        & > li {
          border-bottom: 2px solid transparent;
          transition: border-color .1s,color .1s;

          &:hover {
            border-bottom: 2px solid #000000;
          }
        }
      }

      .mobile-menu-head,
      .mobile-menu-trigger {
        display: none;

        @media(max-width: 991px) {
          display: flex;
          height: 30px;
          width: 30px;
          margin-left: 15px;
          cursor: pointer;
          align-items: center;
          justify-content: center;

          span {
            display: block;
            height: 2px;
            background-color: #333333;
            width: 24px;
            position: relative;

            &:before,
            &:after {
              content: '';
              position: absolute;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: #333333;
            }

            &:before {
              top: -6px;
            }

            &:after {
              top: 6px;
            }
          }


        }
      }

      .mobile-menu-head {
        @media(max-width: 991px) {
          display: flex;
          height: 50px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          justify-content: space-between;
          align-items: center;
          position: relative;
          z-index: 501;
          position: sticky;
          background-color: #ffffff;
          top: 0;

          .go-back {
            height: 50px;
            width: 50px;
            border-right: 1px solid rgba(0, 0, 0, 0.1);
            cursor: pointer;
            line-height: 50px;
            text-align: center;
            color: #000000;
            font-size: 16px;
            display: none;
          }

          &.active .go-back {
            display: block;
          }

          &.current-menu-title {
            font-size: 15px;
            font-weight: 500;
            color: #000000;
          }

          &.mobile-menu-close {
            height: 50px;
            width: 50px;
            border-left: 1px solid rgba(0, 0, 0, 0.1);
            cursor: pointer;
            line-height: 50px;
            text-align: center;
            color: #000000;
            font-size: 25px;
          }
        }
      }

      .sub-menu {
        position: absolute;
        z-index: 500;
        background-color:#ffffff;
        padding: 20px 30px;
        margin-top:5px;
        white-space: nowrap;
        opacity: 0;
        visibility: hidden;
        transition: transform .1s ease,opacity 0ms linear .1s,visibility 0ms linear .1s;
        transition-delay: .3s;
        transform-origin: top center;
        transform: scaleY(0);

        @media(min-width: 992px) {
          transform: scaleY(1);
          opacity: 1;
          visibility: visible;
          transition: transform .25s ease,opacity 0ms,visibility 0ms;
        }

        @media(max-width: 991px) {
          visibility: visible;
          opacity: 1;
          position: absolute;
          box-shadow: none;
          margin: 0;
          padding: 15px;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          padding-top: 65px;
          max-width: none;
          min-width: auto;
          display: none;
          transform: translateX(0%);
          overflow-y: auto;

          &.active {
            display: block;
          }
        }

        .list-item {
          @media(min-width: 992px) {
            animation-name: FadeIn;
            animation-duration: .6s;
            transition-timing-function: linear;
            transition-delay: .2s;
          }
        }

        li {
          line-height: 1;

          a {
            display: inline-block;
            padding: 10px 0;
            font-size: 15px;
            color: #555555;
            transition: color 0.3s ease;
            text-decoration: none;
            text-transform: capitalize;
            @media(max-width: 991px) {
              display: block;
            }
          }

          .single-column-menu {
            min-width: 280px;
            max-width: 350px;
          }
        }

        &.mega-menu {
          left: 0;

          ul {
            @media(max-width: 991px) {
              margin-bottom: 15px;
            }
          }

          li {
            line-height: 1;
            display: block;

            a {
              padding: 10px 0;
              display: inline-block;
              font-size: 15px;
              color: #575757;
              text-decoration: none;
              transition: color 0.3s ease;

              &:hover {
                text-decoration: underline;
              }
            }
          }

        }

        &.mega-menu-column-4 {
          // max-width: 1100px;
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          padding: 20px 15px;

          & > .list-item {
            flex: 0 0 25%;
            padding: 0 15px;

            @media(max-width: 991px) {
              flex: 0 0 100%;
              padding: 0;
            }

            .title {
              font-size: 16px;
              color: #000000;
              font-weight: 700;
              line-height: 1;
              padding: 10px 0;
            }

            &.text-center title{
              @media(max-width: 991px) {
                margin-bottom: 20px;
              }
            }

            &.text-center:last-child .title {
              @media(max-width: 991px) {
                margin-bottom: 0;
              }
            }

            img {
              max-width: 100%;
              width: 100%;
              vertical-align: middle;
              margin-top: 10px;

              @media(max-width: 991px) {
                margin-top: 0;
              }
            }
          }
        }
      }
    }
  }

}






/*responsive*/
@media(max-width: 991px) {
  .menu-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1098;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
  }
  .menu-overlay.active {
    visibility: visible;
    opacity: 1;
  }
}







.page-mask {
  opacity: 0;
  z-index: 1;
  visibility: hidden;
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity .25s,visibility 0s linear .25s;


  background-color: hsla(0,0%,7%,.36);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}


.page-mask.is-open {
  opacity: 1;
  visibility: visible;
  transition: opacity .8s ease,visibility 0s;
}

@keyframes FadeIn {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes slideRight {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}
